.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.table-container h2 {
    margin: 20px auto;
}

table {
    width: 100%;
    table-layout: fixed
}

.table-container button {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    margin: 5px auto;
}

/* Style the buttons on hover */
.table-container button:hover {
    background-color: #187bcd;
}

/* Style the button text */
.table-container button a {
    text-decoration: none;
    color: white;
}