.action {
  text-align: center;
}

/* Style the heading */
.action h2 {
  color: #333;
}

/* Style the action buttons container */
.action-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

/* Style the buttons */
.action-btn button {
  background-color: blue;
  color: white;
  width: 200px;
  padding: 10px 30px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  margin: 5px auto;
}

/* Style the buttons on hover */
.action-btn button:hover {
  background-color: #187bcd;
}

/* Style the button text */
.action-btn button a {
  text-decoration: none;
  color: white;
}
