/* Invoice.css */

.table-container {
  margin-top: 20px;
  width: 80%;
  margin: 20px; /* Center the table */
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.table-container th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-container tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Adjust column widths */
.table-container th:nth-child(2), /* Product Name */
.table-container td:nth-child(2) {
  width: 24%;
}

.table-container th:nth-child(5), /* Total */
.table-container td:nth-child(5),
.table-container th:nth-child(8), /* Description */
.table-container td:nth-child(8)
{
  width: 13%;
}

.table-container th:first-child, /* Serial Number */
.table-container td:first-child,
.table-container th:nth-child(6), /* Discount */
.table-container td:nth-child(6),
.table-container th:nth-child(3), /* Quantity */
.table-container td:nth-child(3) {
  width: 6%;
}

.net-total {
  border-style: solid;
  margin-top: 20px;
  margin-left: 71%;
  font-size: 20px;
  border-radius: 10% ; /* Use 50% border-radius for a round shape */
  width: 300px; /* Adjust the width to fit the content */
  height: 50px; /* Adjust the height to fit the content */
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}
.delete-button{
  background-color: #ccc;
  color: #0b0b0b;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
font-weight: bold;
}
.delete-button:hover {
  background-color: #999;
}